.kontakt__info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: start;
}
.ki__card {
  height: 100%;
  background: #fff;
  padding: 20px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ki__title {
  font-family: "Unbounded", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.ki__icon__and__label {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  width: 100%;
}
.ki__icon__and__label a p {
  color: #000;
}

.ki__icon__and__label svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  opacity: 0.8;
}

.ki__desc {
  margin: 15px 0 10px;
  color: #000;
  font-size: 14px;
}

.ki__icons {
  display: flex;
  gap: 10px;
}

.ki__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.ki__icon:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.ki__icon img {
  height: 15px;
  opacity: 0.8;
}

.ki__infos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-bottom: 15px;
  gap: 20px;
}

.ki__info {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  margin-bottom: 8px;
}

.kii__title {
  font-weight: 300;
  font-size: 14px;
}

.kii__text {
  color: black;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 18px;
}

/* Responsive tasarım */
@media (max-width: 1024px) {
  .kontakt__info {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .kontakt__info {
    grid-template-columns: 1fr;
  }
}

.kontakt__map {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.km_map {
  width: 100%;
  height: 600px;
  margin: 15px 0;
  border-radius: 20px;
}

/* GALERY */

.gallery {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 90px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.g__left {
  width: 60%;
  height: 720px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.g__left img {
  height: 100%;
  border-radius: 20px;
}
.g__right {
  width: 40%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.gr__double {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.gr__image {
  width: 50%;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.gr__one {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 300px;
}
.gr__img {
  width: 100%;
  min-height: 100%;
}
.last__image {
  position: relative;
}
.go__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1500px) {
  .gr__image {
    height: 160px;
  }
  .gr__one {
    height: 250px;
  }
  .g__left {
    height: 590px;
  }
}
@media (max-width: 1250px) {
  .gr__image {
    height: 120px;
  }
  .gr__one {
    height: 200px;
  }
  .g__left {
    height: 460px;
  }
}
@media (max-width: 1000px) {
  .gr__image {
    height: 105px;
  }
  .gr__one {
    height: 160px;
  }
  .g__left {
    height: 380px;
  }
  .gallery {
    gap: 5px;
  }
  .gr__double {
    gap: 5px;
  }
  .g__right {
    gap: 5px;
  }
}
@media (max-width: 800px) {
  .gallery {
    flex-direction: column;
    gap: 12px;
  }
  .gr__double {
    gap: 12px;
  }
  .g__right {
    width: 100%;
    gap: 12px;
  }
  .g__left {
    width: 100%;
    height: 450px;
    height: auto;
  }
  .gr__image {
    min-height: none;
    height: 200px;
  }
  .gr__one {
    width: 100%;
    height: 350px;
  }
  .g__left img {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .gallery {
    flex-direction: column;
    gap: 5px;
  }
  .gr__double {
    gap: 5px;
  }
  .g__right {
    width: 100%;
    gap: 5px;
  }
  .gr__one {
    width: 100%;
    height: 250px;
  }
  .gr__image {
    min-height: none;
    height: 140px;
  }
  .g__left {
    height: 300px;
  }
}
@media (max-width: 450px) {
  .gr__one {
    width: 100%;
    height: 190px;
  }
  .gr__image {
    min-height: none;
    height: 100px;
  }
  .g__left {
    height: 240px;
  }
  .g__left {
    border-radius: 8px;
  }
  .g__left img,
  .gr__image,
  .gr__one {
    border-radius: 8px;
  }
}

/* RECEPTIONS */

.reception__container {
  width: 100%;
  margin: 20px 0;
}
.reception {
  width: 100%;
  background-color: #fff;
  padding: 25px 40px;
  border-radius: 20px;
  transition: 0.4s ease-in-out;
}
.reception__title {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -1px;
  /* margin-bottom: 30px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: 0.5s ease-in-out;
}
.rt__image {
  transform: rotate(90deg);
  padding: 5px;
  height: 40px;
  border-radius: 50%;
  background: #2d2d2d;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
}
.reception__cards {
  max-height: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  transition: 0.5s ease-in-out;
}
.reception__active .reception__title {
  margin-bottom: 30px;
}
.reception__active .reception__cards {
  max-height: 1000px;
  overflow-y: auto;
}

.reception__card {
  border: 2px solid #e5e5e5;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}
.rc__image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.rc__image img {
  height: 100%;
  border-radius: 10px;
}
.rc__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}
.rci__title {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
}
.rci__career {
  font-size: 18px;
  margin-top: 10px;
}
.rci__bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rci__contact {
  display: flex;
  gap: 10px;
  font-weight: 400;
}

.rci__contact p {
  font-size: 18px;
  color: #000;
}

@media (max-width: 1180px) {
  .rc__image {
    width: 160px;
    height: 160px;
  }
  .rci__title {
    font-size: 18px;
  }
  .reception__card {
    gap: 14px;
  }
  .rci__career {
    font-size: 16px;
    margin-top: 5px;
  }
  .rci__contact p {
    font-size: 16px;
  }
}
@media (max-width: 1050px) {
  .reception {
    padding: 15px 25px;
  }
  .reception__card {
    padding: 10px;
  }
  .reception__cards {
    gap: 10px;
  }
}
@media (max-width: 970px) {
  .reception__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .reception__title {
    font-size: 20px;
  }
  .rt__image {
    height: 30px;
  }
  .reception {
    border-radius: 10px;
    padding: 30px 15px;
  }
}
@media (max-width: 540px) {
  .rc__image {
    width: 100px;
    height: 100px;
  }
  .rci__title {
    font-size: 16px;
  }
  .rci__career {
    font-size: 14px;
  }
}
