* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

.container {
}

.desktop__padding {
  padding: 0px 80px;
}

main {
  position: relative;
  min-height: 100vh;
  background: url("../../assets/main_bg.png") no-repeat;
  background-size: cover;
  background-position: top;
}
.main_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000091;
}

header {
  width: 100%;
  height: 120px;
  backdrop-filter: blur(35px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__top {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.header__nav img {
  padding-right: 50px;
}
.header__nav a {
  color: #fff;
  font-weight: 500;
  opacity: 0.7;
  font-size: 14px;
}
.header__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header__info__elem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #fff;
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 15px;
  margin-right: 40px;
}
.header__socials .header__social {
  width: 35px;
  height: 35px;
  background: #ffffff1a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.header__btn__heart {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 5px;
}

.header__btn button {
  width: 140px;
  height: 40px;
  background: #dae6ff;
  color: #0090ff;
  border-radius: 10px;
  margin-left: 25px;
  border: none;
}

.header__bottom {
  border-top: 2px solid #ffffff1a;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__bottom a {
  color: #fff;
}

.sticky__header {
  position: fixed;
  top: -1700px;
  transition: 0.3s ease-in-out;
  left: 0;
  width: 100%;
  padding-bottom: 50px;
  z-index: 99;
  backdrop-filter: blur(35px);
}
.sticky__header.active {
  top: 0;
}

.sticky__header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 40px;
  border-bottom: 1px solid #ffffff1a;
}
.sticky__header__nav img {
  height: 30px;
}
.sticky__header__close {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}
.sticky__header__close p {
  font-size: 18px;
}
.sticky__header__close img {
  height: 22px;
}
.sticky__header__links {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
.sticky__header__links a {
  color: #fff;
  font-size: 18px;
  margin: 14px 0;
}
.hamburger {
  height: 14px;
  margin-left: 20px;
  display: none;
}
.header__info__elem h3 {
  display: none;
}
@media only screen and (max-width: 1500px) {
  .header__nav {
    gap: 15px;
  }
  .header__nav img {
    padding-right: 20px;
    height: 30px;
  }
  .header__info__elem p {
    font-size: 14px;
  }
  .header__btn__heart p {
    font-size: 14px;
  }
  .header__info {
    gap: 10px;
  }
  .header__socials .header__social {
    width: 25px;
    height: 25px;
  }
  .header__socials .header__social img {
    height: 12px;
  }
}
@media only screen and (max-width: 1250px) {
  .desktop__padding {
    padding: 0px 60px;
  }
  .header__socials {
    display: none;
  }
}
@media only screen and (max-width: 1010px) {
  .header__btn button {
    width: 90px;
    margin-left: 10px;
  }
  .header__btn__heart p {
    display: none;
  }
  .header__bottom a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 850px) {
  .header__info__elem:nth-child(1) {
    display: none;
  }
  .desktop__padding {
    padding: 0px 30px;
  }
}
@media only screen and (max-width: 680px) {
  .header__bottom {
    display: none;
  }
  .header__nav a {
    display: none;
  }
  header {
    height: 70px;
  }
  .hamburger {
    display: block;
  }
  .header__info__elem p {
    display: none;
  }
  .header__info__elem h3 {
    display: block;
    font-weight: 300;
  }
  .header__nav img {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .header__info__elem:nth-child(2) img {
    display: none;
  }
  .header__btn button {
    height: 32px;
    font-size: 12px;
    width: 80px;
    margin-left: 10px;
  }
  .hamburger {
    margin-left: 10px;
  }
  .header__info__elem h3 {
    font-size: 14px;
  }
  .header__nav img {
    height: 25px;
  }
  .hamburger {
    height: 12px;
  }
}
/* 
  *******************************
  HEADER TOP 
  *******************************
*/

.main__title {
  position: relative;
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 200px;
}
.main__title h1 {
  font-size: 72px;
  color: #fff;
  font-family: "Unbounded", cursive;
  font-weight: 400;
  margin-top: 60px;
}
.main__title__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: 50px 0;
}
.main__title__btns button {
  padding: 15px 40px;
  font-size: 18px;
  color: #fff;
  background-color: #00000060;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.main__title__btns button:hover {
  background: #0090ff;
  border: 2px solid #0090ff;
  cursor: pointer;
}
.main__title__btns .main__title__btns__active {
  background: #0090ff;
  border: 2px solid #0090ff;
}

.main__title__statuses {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin-top: 150px;
}
.main__title__status {
  background: linear-gradient(
    89.72deg,
    rgba(0, 0, 0, 0.918) 90%,
    rgba(0, 0, 0, 0.5) 100%
  );

  box-shadow: 0px 10px 50px 0px #00000033;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 25px 35px;
  height: 90px;
  border-radius: 15px;
  gap: 25px;
}
.main__title__status h3 {
  font-family: "Unbounded", cursive;
  color: #fff;
  font-size: 38px;
  font-weight: 300;
  letter-spacing: -2.2px;
}
.main__title__status:nth-child(2) {
  width: 500px;
}
.main__title__status p {
  color: #fff;
  font-size: 14px;
  opacity: 0.7;
  line-height: 20px;
}

.main__left__line {
  position: absolute;
  top: 0;
  left: 10%;
  height: 100%;
  border: 2px solid #ffffff4d;
}
.main__right__line {
  position: absolute;
  top: 0;
  right: 10%;
  height: 100%;
  border: 2px solid #ffffff4d;
}
.main__bottom__line {
  position: absolute;
  left: 0;
  bottom: 20%;
  width: 100%;
  border: 2px solid #ffffff4d;
}
@media only screen and (max-width: 1230px) {
  .main__title {
    padding-left: 120px;
  }
}
@media only screen and (max-width: 1060px) {
  .main__title__statuses {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
  }
  .main__title h1 {
    margin-top: 40px;
    font-size: 68px;
  }
  .main__title {
    padding-left: 100px;
  }
}
@media only screen and (max-width: 930px) {
  .main__title__btns {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 0;
    gap: 15px;
  }
  .main__title h1 {
    margin-top: 30px;
  }
  .main__title__status {
    min-height: 70px;
    padding: 10px 20px;
  }
  .main__title__status:nth-child(2) {
    min-height: 70px;
    padding: 10px 20px;
  }
  .main__title__status h3 {
    font-size: 28px;
  }
  .main__title {
    padding-left: 80px;
  }

  .main__left__line {
    left: 5%;
  }
  .main__right__line {
    right: 5%;
  }
  .main__bottom__line {
    bottom: 10%;
  }
}
@media only screen and (max-width: 740px) {
  .main__title {
    padding-left: 60px;
  }
  .main__title h1 {
    font-size: 48px;
  }
  .main__title__btns button {
    font-size: 16px;
    padding: 15px 25px;
  }
}
@media only screen and (max-width: 680px) {
  .main__title {
    height: calc(100vh - 70px);
  }
}

@media only screen and (max-width: 680px) {
  .main__title__status:nth-child(2) {
    width: 100%;
    justify-content: space-between;
  }
  .main__title__status:nth-child(1) {
    width: 100%;
    justify-content: space-between;
  }
  .main__title__status p {
    width: 70%;
  }
  .main__title {
    padding: 0 40px;
  }
  .main__title__btns {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .main__title__btns button {
    width: 80%;
    text-align: center;
    font-size: 20px;
    padding: 15px 5px;
  }
  .main__title h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 45px;
    font-size: 48px;
  }
}
@media only screen and (max-width: 550px) {
  .main__title h1 {
    font-size: 32px;
  }
  .main__title__btns button {
    width: 90%;
  }
}

/* 
  *******************************
  MAIN SECTION TOP
  *******************************
/* */

.section__header {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

.section__header h2 {
  color: #fff;
  font-size: 32px;
  font-family: "Unbounded", cursive;
  font-weight: 400;
}

.section__cars {
  width: 100%;
  background: #1f1f1f;
  padding: 40px 20px;
}

.section__cars__boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
}

.cars__box {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  flex: 1 1 calc(25% - 20px);
  min-width: 280px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.cars__box:hover {
  transform: translateY(-5px);
}

/* SLIDER */
.cars__box .swiper {
  width: 100%;
  aspect-ratio: 16 / 10;
  border-radius: 10px;
  overflow: hidden;
}

.cars__box .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TITLE */
.car__title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

/* INFO */
.car__info {
  display: flex;
  justify-content: space-between;
}

.car__info p {
  margin: 0;
  font-size: 14px;
  color: #444;
}

/* PRICE */
.car__price {
  display: flex;
  gap: 10px;
  align-items: center;
}

.car__price .usd {
  font-size: 20px;
  font-weight: bold;
}

.car__price .zt {
  font-size: 13px;
  color: #777;
}

/* Responsive design */
@media (max-width: 1200px) {
  .cars__box {
    flex: 1 1 calc(33.333% - 20px);
  }
}

@media (max-width: 900px) {
  .cars__box {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .cars__box {
    flex: 1 1 100%;
  }

  .section__header h2 {
    font-size: 24px;
  }
}
