.statsiya__container {
  width: 100%;
}

.statsiya {
  width: 100%;
  padding: 45px 65px;
  border-radius: 40px;
  background: #fff;
  margin: 30px 0;
}
.st__desc {
  font-size: 22px;
}
.st__title {
  font-size: 32px;
  font-weight: 500;
  padding-top: 25px;
  padding-bottom: 15px;
  font-family: "Unbounded", sans-serif;
}
.statsiya ul {
  margin-left: 30px;
}
.statsiya ul li {
  font-size: 22px;
}
.statsiya img {
  width: 100%;
  padding: 25px 0;
  border-radius: 48px;
}

.st__status {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin: 15px 0;
  flex-wrap: wrap;
}
.sts {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 10px;
  background: #f4f4f4;
  color: #6e6e6e;
}
@media (max-width: 1250px) {
  .st__desc {
    font-size: 18px;
  }
  .st__title {
    font-size: 26px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .statsiya ul {
    margin-left: 20px;
  }
  .statsiya ul li {
    font-size: 18px;
  }
  .statsiya img {
    padding: 20px 0;
  }
}
@media (max-width: 1000px) {
  .statsiya {
    padding: 30px 40px;
  }
}
@media (max-width: 800px) {
  .statsiya {
    padding: 20px 30px;
    border-radius: 20px;
  }
  .st__desc {
    font-size: 16px;
  }
  .st__title {
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .statsiya ul {
    margin-left: 22px;
  }
  .statsiya ul li {
    font-size: 16px;
  }
  .statsiya img {
    padding: 10px 0;
  }

  .st__status {
    gap: 10px;
    margin: 10px 0;
  }
  .sts {
    padding: 8px 14px;
    gap: 10px;
  }
  .sts p {
    font-size: 12px;
  }
}

/* CARS */

.section__cars {
  width: 100%;
  background: #1f1f1f;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section__cars__boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  max-width: 1920px;
  margin: 0 auto;
}

.cars__box {
  position: relative;
  background: #fff;
  border-radius: 20px;

  flex: 1 1 calc(25% - 20px);
  min-width: calc(25% - 30px);
  max-width: calc(25% - 30px);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: 0.2s ease-in-out;
}
.cars__box:hover {
  background: #eff4ff;
  cursor: pointer;
}
.cars__heart__icon {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 90;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #00000054;
}
.cars__heart__icon img {
  height: 24px;
}
.cars__status {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 90;
  color: #fff;
  padding: 10px 18px;
  border-radius: 14px;
  font-size: 14px;
  background: #1e1e1e;
  border: 0.1px solid #ffffff3d;
}
/* SLIDER */
.cars__box .swiper {
  width: 100%;
  aspect-ratio: 16 / 10;
  border-radius: 10px;
  overflow: hidden;
}

.cars__box .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* TITLE */
.car__title {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  padding: 10px 20px;
}

/* INFO */
.car__info {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 20px;
}

.car__info p {
  margin: 10px 0;
  font-size: 18px;
  color: #6e6e6e;
}

/* PRICE */
.car__price {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 35px;
}

.car__price .usd {
  font-size: 28px;
  font-weight: bold;
  color: #0090ff;
}

.car__price .zt {
  font-size: 20px;
  color: #8bb7f4;
}

/* Scrollbar background */
.swiper-scrollbar {
  background: #fff !important; /* Orqa fon rangi */
  height: 6px !important;
}

/* Scrollbar ichidagi harakatlanadigan qismining rangi */
.swiper-scrollbar-drag {
  background: #0090ff !important; /* Scrollning o‘zi */
}

/* Responsive design */
@media (max-width: 1500px) {
  .car__info p {
    font-size: 15px;
  }
}
/* Responsive design */
@media (max-width: 1350px) {
  .car__info p {
    font-size: 13px;
  }
}
@media (max-width: 1230px) {
  .cars__box {
    flex: 1 1 calc(34% - 20px);
    min-width: calc(34% - 30px);
    max-width: calc(34% - 30px);
    gap: 0px;
  }
  .car__info p {
    font-size: 16px;
  }
}
@media (max-width: 1040px) {
  .car__info p {
    font-size: 14px;
  }
  .car__title {
    font-size: 20px;
  }
  .car__price .usd {
    font-size: 22px;
  }
  .car__price .zt {
    font-size: 16px;
  }
}

@media (max-width: 950px) {
  .car__info {
    flex-direction: column;
    align-items: flex-start;
  }
  .car__info p {
    margin: 0;
    margin-bottom: 5px;
  }
  .car__price {
    padding: 10px 20px;
    padding-bottom: 25px;
  }
  .cars__heart__icon {
    width: 30px;
    height: 30px;
  }
  .cars__heart__icon img {
    height: 18px;
  }
  .cars__status {
    font-size: 10px;
    padding: 6px 10px;
    border-radius: 6px;
  }
}

@media (max-width: 725px) {
  .cars__box {
    flex: 1 1 calc(50% - 10px);
    min-width: calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}

@media (max-width: 530px) {
  .section__cars__boxes {
    justify-content: space-between;
  }
  .car__title {
    font-size: 15px;
    padding: 10px 12px;
  }
  .car__info p {
    font-size: 12px;
  }
  .car__info {
    padding: 0 0px 0 12px;
  }
  .car__price {
    padding: 8px 12px 16px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
  .car__price .usd {
    font-size: 16px;
  }
  .car__price .zt {
    font-size: 12px;
  }
  .section__cars__boxes {
    gap: 8px;
  }
}
