.karta__auto__container {
  width: 100%;
  margin-bottom: 40px;
}

.karta__auto {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
  padding: 30px;
  gap: 20px;
  border-radius: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.karta__foto {
  width: 40%;
  max-width: 800px;
  height: auto;
}
.kf__desc {
  font-size: 18px;
  padding: 20px 0;
}
.kf__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 3px solid #e5e5e5;
  padding: 14px 28px;
  border-radius: 20px;
}
.kfs__title {
  font-size: 22px;
  font-family: "Unbounded", sans-serif;
}
.kfs__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.kfss__cont {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.karta__foto .swiper {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.karta__foto .swiper.mySwiper3 {
  height: 150px;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
}

.mySwiper2 {
  height: 60%;
  width: 100%;
  margin-bottom: 10px;
}

.mySwiper3 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper3 .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.mySwiper3 .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper3 .swiper-slide img {
  height: 100%;
  border-radius: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(255, 255, 255, 0.7);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px;
  color: #333;
}

.karta__detail {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.karta {
  border: 3px solid #e5e5e5;
  padding: 20px 40px;
  border-radius: 20px;
}
.karta__header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #e5e5e5;
  padding-bottom: 15px;
}
.kh__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.kh__title h3 {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.kht__status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #6e6e6e;
}

.karta__infos {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px 0;
}
.ki__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.kii__title {
  color: #6e6e6e;
  font-weight: 300;
  font-size: 14px;
}
.kii__desc {
  font-size: 16px;
  font-weight: 400;
}
.ki__blur {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
}
.kib__btn {
  padding: 14px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #0090ff;
  font-weight: 500;
  background: #dae6ff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.karta__pricing {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 15px 0;
  justify-content: space-between;
}
.kp__price {
  display: flex;
  gap: 14px;
}
.kpp__usd {
  font-size: 38px;
  font-weight: 500;
  letter-spacing: -1px;
}
.kpp__zt {
  font-size: 24px;
  font-weight: 500;
  color: #0090ff;
}
.kp__btns {
  display: flex;
  gap: 15px;
}
.kpb__btn {
  padding: 10px 35px;
  border: 2px solid #0090ff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0090ff;
  font-size: 16px;
  gap: 10px;
  border-radius: 10px;
  font-size: 22px;
  letter-spacing: -0.5px;
  background: #fff;
}
.kpb__btn.btn__active {
  background: #0090ff;
  color: #fff;
}

.karta__form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 20px;
}
.kf__desc .text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* nechta qator ko'rinsin */
  -webkit-box-orient: vertical;
  transition: 0.3s;
  
}
#toggleBtn {
  background: none;
  border: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0px -20px 10px 0px rgb(209, 209, 209);
}

.kf__desc .text.expanded {
  -webkit-line-clamp: unset;
}

.karta__form input {
  width: 40%;
  height: 60px;
  border-radius: 10px;
  background: #f1f1f1;
  padding: 0 20px;
  font-size: 18px;
  border: none;
}
.karta__form button {
  height: 60px;
  width: 20%;
  border-radius: 10px;
  border: none;
  font-size: 22px;
  background: #000;
  color: #fff;
  font-weight: 400;
}

@media (max-width: 1650px) {
  .kpb__btn {
    font-size: 20px;
  }
  .kpp__usd {
    font-size: 32px;
  }
  .kpp__zt {
    font-size: 20px;
  }
}
@media (max-width: 1500px) {
  .kpb__btn {
    font-size: 18px;
    padding: 10px 20px;
  }
}
@media (max-width: 1350px) {
  .karta__foto .swiper {
    height: 250px;
  }
  .karta__foto .swiper.mySwiper3 {
    height: 100px;
  }
  .mySwiper3 .swiper-slide img {
    border-radius: 10px;
  }
  .swiper-slide {
    border-radius: 10px;
  }
  .mySwiper3 {
    padding: 0;
  }
  .karta__auto {
    gap: 10px;
  }
  .kf__desc {
    font-size: 16px;
  }
  .karta__infos {
    grid-template-columns: repeat(3, 1fr);
  }
  .kh__title h3 {
    font-size: 20px;
  }
  .kht__status {
    font-size: 14px;
  }
  .kh__title {
    gap: 8px;
  }
  .karta__pricing {
    flex-direction: column;
    gap: 10px;
  }
  .kp__price {
    justify-content: space-between;
    width: 100%;
  }
  .kp__btns {
    width: 100%;
  }
  .kpb__btn {
    width: 50%;
  }
}
@media (max-width: 1200px) {
  .karta__form {
    flex-direction: column;
  }
  .karta__form input {
    width: 100%;
  }
  .karta__form button {
    width: 100%;
  }
  .kpb__btn {
    font-size: 16px;
  }
  .kf__socials {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .karta__foto .swiper {
    height: 200px;
  }
  .karta__foto .swiper.mySwiper3 {
    height: 70px;
  }
  .mySwiper3 .swiper-slide img {
    border-radius: 6px;
  }
  .swiper-slide {
    border-radius: 6px;
  }
  .kfs__title {
    font-size: 18px;
  }
}
@media (max-width: 1030px) {
  .karta__auto {
    flex-direction: column;
  }
  .karta__foto .swiper {
    height: 600px;
  }
  .karta__foto {
    width: 100%;
  }
  .swiper-slide {
    border-radius: 20px;
  }
  .mySwiper3 .swiper-slide img {
    border-radius: 20px;
  }
  .karta__foto .swiper.mySwiper3 {
    height: 140px;
  }
  .karta__detail {
    width: 100%;
  }
  .karta__foto {
    max-width: 1000px;
  }
}
@media (max-width: 700px) {
  .karta__foto .swiper {
    height: 400px;
  }
  .karta__foto .swiper.mySwiper3 {
    height: 100px;
  }
  .karta__auto {
    padding: 15px;
    border-radius: 20px;
  }
  .swiper-slide {
    border-radius: 10px;
  }
  .mySwiper3 .swiper-slide img {
    border-radius: 10px;
  }
  .kf__socials {
    padding: 14px 20px;
  }
  .karta {
    padding: 14px 20px;
  }
}
@media (max-width: 560px) {
  .karta__infos {
    grid-template-columns: repeat(2, 1fr);
  }
  .kh__title {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .kp__btns {
    flex-direction: column;
  }
  .kp__btns .kpb__btn {
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
  }
  .karta__form button {
    font-size: 18px;
  }
  .karta__foto .swiper {
    height: 250px;
  }
  .karta__foto .swiper.mySwiper3 {
    height: 120px;
  }
}

/* CALCULATION */

.calculation__cont {
  width: 100%;
}
.calculation {
  width: 100%;
  background: #fff;
  border-radius: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px;
}
.calc__cards {
  border-radius: 20px;
  border: 3px solid #e5e5e5;
  padding: 20px 30px;
}
.calc__title {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #e5e5e5;
}

.calc__info {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px 0;
}
.ci__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.cii__title {
  color: #6e6e6e;
  font-weight: 300;
  font-size: 14px;
}
.cii__desc {
  font-size: 16px;
  font-weight: 400;
}
.calc__blur {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
}
.cb__btn {
  padding: 14px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #0090ff;
  font-weight: 500;
  background: #dae6ff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

@media (max-width: 1500px) {
  .calc__info {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .calc__title {
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}
@media (max-width: 1150px) {
  .calc__info {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .calculation {
    grid-template-columns: repeat(2, 1fr);
  }
  .calc__title {
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}
@media (max-width: 850px) {
  .calculation {
    padding: 20px;
    gap: 12px;
  }
}
@media (max-width: 700px) {
  .calculation {
    border-radius: 20px;
  }
  .calc__cards {
    border-radius: 10px;
    padding: 10px 15px;
  }
}
@media (max-width: 670px) {
  .calculation {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* CARS CARS */

.section__cars {
  width: 100%;
  background: #1f1f1f;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section__cars__boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  max-width: 1920px;
  margin: 0 auto;
}

.cars__box {
  position: relative;

  background: #fff;
  border-radius: 20px;

  flex: 1 1 calc(25% - 20px);
  min-width: calc(25% - 30px);
  max-width: calc(25% - 30px);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: 0.2s ease-in-out;
}
.cars__box:hover {
  background: #eff4ff;
  cursor: pointer;
}

.cars__heart__icon {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 90;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #00000054;
}
.cars__heart__icon img {
  height: 24px;
}
.cars__status {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 90;
  color: #fff;
  padding: 10px 18px;
  border-radius: 14px;
  font-size: 14px;
  background: #1e1e1e;
  border: 0.1px solid #ffffff3d;
}
/* SLIDER */
.cars__box .swiper {
  width: 100%;
  aspect-ratio: 16 / 10;
  border-radius: 10px;
  overflow: hidden;
}

.cars__box .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* TITLE */
.car__title {
  font-size: 24px;
  font-weight: 500;
  padding: 10px 20px;
}

/* INFO */
.car__info {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 20px;
}

.car__info p {
  margin: 10px 0;
  font-size: 18px;
  color: #6e6e6e;
}

/* PRICE */
.car__price {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 35px;
}

.car__price .usd {
  font-size: 28px;
  font-weight: bold;
  color: #0090ff;
}

.car__price .zt {
  font-size: 20px;
  color: #8bb7f4;
}

/* Scrollbar background */
.swiper-scrollbar {
  background: #fff !important; /* Orqa fon rangi */
  height: 6px !important;
}

/* Scrollbar ichidagi harakatlanadigan qismining rangi */
.swiper-scrollbar-drag {
  background: #0090ff !important; /* Scrollning o‘zi */
}

/* Responsive design */
@media (max-width: 1500px) {
  .car__info p {
    font-size: 15px;
  }
}
/* Responsive design */
@media (max-width: 1350px) {
  .car__info p {
    font-size: 13px;
  }
}
@media (max-width: 1230px) {
  .cars__box {
    flex: 1 1 calc(34% - 20px);
    min-width: calc(34% - 30px);
    max-width: calc(34% - 30px);
    gap: 0px;
  }
  .car__info p {
    font-size: 16px;
  }
}
@media (max-width: 1040px) {
  .car__info p {
    font-size: 14px;
  }
  .car__title {
    font-size: 20px;
  }
  .car__price .usd {
    font-size: 22px;
  }
  .car__price .zt {
    font-size: 16px;
  }
}

@media (max-width: 950px) {
  .car__info {
    flex-direction: column;
    align-items: flex-start;
  }
  .car__info p {
    margin: 0;
    margin-bottom: 5px;
  }
  .car__price {
    padding: 10px 20px;
    padding-bottom: 25px;
  }
  .cars__heart__icon {
    width: 30px;
    height: 30px;
  }
  .cars__heart__icon img {
    height: 18px;
  }
  .cars__status {
    font-size: 10px;
    padding: 6px 10px;
    border-radius: 6px;
  }
}

@media (max-width: 725px) {
  .cars__box {
    flex: 1 1 calc(50% - 10px);
    min-width: calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}

@media (max-width: 530px) {
  .section__cars__boxes {
    justify-content: space-between;
  }
  .car__title {
    font-size: 15px;
    padding: 10px 12px;
  }
  .car__info p {
    font-size: 12px;
  }
  .car__info {
    padding: 0 0px 0 12px;
  }
  .car__price {
    padding: 8px 12px 16px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
  .car__price .usd {
    font-size: 16px;
  }
  .car__price .zt {
    font-size: 12px;
  }
  .section__cars__boxes {
    gap: 8px;
  }
}
