/* 

SEARCH BOARD

*/

.search__board {
  width: 100%;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    89.72deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px;
  border-radius: 20px;
}
.sb__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.sbf__input {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background: #2a2a2a;
  border: none;
  color: #d2d2d2;
  font-size: 16px;
}
.sbf__input::placeholder {
  color: #d2d2d2d7;
}
.sb__selects {
  display: flex;
  gap: 20px;
  margin-right: 10px;
}
.sb__select {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.sb__select p {
  color: #d2d2d2;
  font-size: 16px;
}
.sb__select select {
  width: 120px;
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  background: #2a2a2a;
  border: none;
  color: #fff;
}
.sb__pagination {
  display: flex;
  gap: 10px;
}
.sbp__btn {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(
    89.72deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border: 0.1px solid #fff;
  color: #fff;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}
.sbp__btn:hover {
  cursor: pointer;
  color: #0090ff;
  border: 1px solid #0090ff;
}
.sbp__gray {
  color: #6e6e6e;
  border: 1px solid #6e6e6e;
}
.sbp__blue {
  color: #0090ff;
  border: 1px solid #0090ff;
}

@media (max-width: 1450px) {
  .sb__select {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sb__select select {
    width: 160px;
  }
  .sb__form {
    align-items: flex-end;
  }
  .sbf__input {
    height: 50px;
    width: 300px;
  }
  .sb__pagination {
    height: 80px;
    align-items: flex-end;
  }
  .sb__selects {
    margin-right: 10px;
  }
}
@media (max-width: 1300px) {
  .search__board {
    flex-direction: column;
  }
  .sb__select {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1000px) {
  .sb__select {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 750px) {
  .sb__form {
    width: 100%;
    flex-direction: column;
  }
  .sbf__input {
    width: 100%;
  }
  .sb__selects {
    width: 100%;
    margin: 0;
  }
  .sb__select {
    width: 50%;
  }
  .sb__select select {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .search__board {
    padding: 12px 15px;
  }
  .sb__form {
    gap: 12px;
  }
  .sb__select p {
    font-size: 14px;
  }
  .sb__select {
    gap: 6px;
  }
  .sb__pagination {
    height: 50px;
  }
  .sbp__btn {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

/* 

BAR AND CARS

*/

.bar__and__cars {
  margin: 25px 0;
  width: 100%;
  gap: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.bac__bar {
  padding: 25px;
  width: 300px;
  background: linear-gradient(
    89.72deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px;
  border-radius: 20px;
}

.bar-item {
  width: 100%;
  opacity: 0.9;
}

.bar-title {
  border-bottom: 1px solid #ffffff4d;
  margin-bottom: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  user-select: none;
  transition: 0.2s ease-in-out;
}
.bar-content {
  margin: 10px 0;
  display: none;
  color: #fff;
}
.bc__input {
  width: 100%;
  background: #2a2a2a;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 17px;
  color: #fff;
}
.bc__checkboxes {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 15px;
  height: 150px;
  overflow-y: auto;
}
.bc__checkbox {
  display: flex;
  gap: 10px;
}
.bc__checkbox input {
  width: 22px;
  background-color: #000 !important;
  accent-color: #000;
  color: #000;
}
.bc__checkbox p {
  color: #d2d2d2;
}
.bar-item.active {
  opacity: 1;
}

.bar-item.active .bar-content {
  display: block;
}

.bar-item .arrow {
  transform: rotate(-90deg);
  transition: 0.2s ease;
}

.bar-item.active .arrow {
  transform: rotate(90deg);
}
.bc__calc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.bcc__btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.bccb__clk {
  width: 38%;
  height: 40px;
  border-radius: 5px;
  background: #2a2a2a;
  color: #d2d2d2;
  border: none;
  font-size: 18px;
}
.bccb__number {
  font-size: 20px;
}
.bcc__smt {
  width: 100%;
  height: 50px;
  color: #0090ff;
  border: 1px solid #0090ff;
  background: none;
  font-size: 16px;
  border-radius: 10px;
}
.bar-item-last {
  border-bottom: none;
}
.bac__bar__svg {
  display: none;
}
.bac__ximg {
  display: none;
}
@media (max-width: 1350px) {
  .bar-title {
    font-size: 18px;
  }
  .bac__bar {
    min-width: 250px;
    max-width: 250px;
    padding: 25px 18px;
  }
  .bar-title {
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .bc__input::placeholder {
    font-size: 14px;
  }
  .bc__input {
    padding: 8px 10px;
  }
  .bc__checkbox {
    gap: 5px;
  }
  .bc__checkbox input {
    width: 15px;
  }
  .bc__checkbox p {
    font-size: 14px;
  }
  .bcc__smt {
    height: 40px;
    font-size: 14px;
  }
  .bccb__clk {
    font-size: 16px;
    height: 30px;
  }
}

@media (max-width: 1100px) {
  .sticky__bar {
    position: fixed;
    top: 0;
    right: -5000px;
    z-index: 99;
    background: #1e1e1eaf;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    justify-content: flex-end;
    transition: 0.4s ease-in-out;
  }
  .sticky__bar__search {
    right: 0;
  }
  .bac__bar {
    position: relative;
    border-radius: 0;
    z-index: 99;
    background: #000;
    padding-top: 50px;
    overflow-y: auto;
  }
  .bac__ximg {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 100;
    color: #fff;
    height: 16px;
    width: 16px;
    /* padding: 20px; */
  }
  .section__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .section__header svg {
    display: block;
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 800px) {
  .section__header svg {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 600px) {
  .bac__bar {
    min-width: 100%;
  }
  .bar-title {
    font-size: 20px;
  }
  .bcc__smt {
    height: 50px;
    font-size: 16px;
  }
  .bccb__clk {
    font-size: 16px;
    height: 40px;
  }
}
@media (max-width: 500px) {
  .section__header svg {
    width: 26px;
    height: 26px;
  }
}

/* KALKULATOR */

.kalkulator {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.kalk__info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.kalk__text {
  background: #fff;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
}
.kt__title {
  font-size: 16px;
  font-weight: 500;
  font-family: "Unbounded";
}
.kt__desc {
  font-size: 16px;
}
.kalk__image {
  width: 100%;
  overflow: hidden;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.kalk__image img {
  width: 100%;
}

.kalk__forms {
  width: 50%;
  height: 100%;
  background: #fff;
  padding: 30px 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.kalk__form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.kf__math {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.kf__label {
  font-size: 14px;
  color: #6e6e6e;
  font-style: italic;
}
.kf__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kfbutton {
  width: 40%;
  height: 50px;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
  font-size: 16px;
}
.kfb__value {
  font-size: 36px;
}
.kf__select {
  height: 50px;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
  padding: 0 20px;
}

.kalk__bottom {
  font-size: 14px;
  opacity: 0.8;
  margin-top: 15px;
}

.kalk__btns {
  width: 100%;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
}
.kalk__btns button {
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: #f1f1f1;
  color: #000;
  font-size: 16px;
  border: 2px solid #0090ff;
  background: #fff;
}
.kalk__btns .kalk__btns__active {
  background: #0090ff;
  color: #fff;
}

.cena {
  width: 100%;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 30px 0;
  border-top: 3px solid #d2d2d2;
  padding-top: 25px;
}
.cena__active {
  display: grid;
}
.cena__one {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
}
.co__title {
  color: #6e6e6e;
  font-size: 16px;
}
.co__price {
  font-weight: 400;
  font-size: 22px;
}
.disabled__margin {
  margin: 0;
}

@media (max-width: 1350px) {
  .kalk__image {
    height: 350px;
  }
}
@media (max-width: 1100px) {
  .kalk__info {
    width: 48%;
  }
  .kt__title {
    font-size: 15px;
  }
  .kt__desc {
    font-size: 13px;
  }
  .cena {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 820px) {
  .kalk__info {
    width: 100%;
  }
  .kalk__forms {
    width: 100%;
  }
  .kalkulator {
    gap: 10px;
    flex-direction: column;
  }
}
@media (max-width: 620px) {
  .kalk__text {
    padding: 14px 18px;
  }
  .kalk__forms {
    padding: 30px 18px;
  }
  .kalk__form {
    gap: 10px;
  }
}
@media (max-width: 500px) {
  .kalk__text {
    padding: 14px 10px;
  }
  .kalk__forms {
    padding: 20px 10px;
  }
  .kalk__btns {
    flex-direction: column;
  }
  .kalk__btns button {
    width: 100%;
  }
  .kfbutton {
    height: 40px;
    font-size: 12px;
  }
  .kf__select {
    height: 40px;
    font-size: 12px;
  }
}
