* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  outline: none;
}

body {
  background: #1f1f1f;
}

.desktop__padding {
  padding: 0px 80px;
}

main {
  width: 100%;
  min-height: 100vh;
  background: #1f1f1f;
}

header {
  width: 100%;
  height: 120px;
  /* backdrop-filter: blur(35px); */
  background: linear-gradient(
    89.72deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__top {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.header__nav img {
  padding-right: 50px;
}
.header__nav a {
  color: #fff;
  font-weight: 500;
  opacity: 0.7;
  font-size: 14px;
}
.header__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header__info__elem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #fff;
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 15px;
  margin-right: 40px;
}
.header__socials .header__social {
  width: 35px;
  height: 35px;
  background: #ffffff1a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.header__btn__heart {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 5px;
}

.header__btn button {
  width: 140px;
  height: 40px;
  background: #dae6ff;
  color: #0090ff;
  border-radius: 10px;
  margin-left: 25px;
  border: none;
}

.header__bottom {
  border-top: 2px solid #ffffff1a;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__bottom a {
  color: #fff;
}

.sticky__header {
  position: fixed;
  top: -1700px;
  transition: 0.3s ease-in-out;
  left: 0;
  width: 100%;
  padding-bottom: 50px;
  z-index: 99;
  backdrop-filter: blur(35px);
}
.sticky__header.active {
  top: 0;
}

.sticky__header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 40px;
  border-bottom: 1px solid #ffffff1a;
}
.sticky__header__nav img {
  height: 30px;
}
.sticky__header__close {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}
.sticky__header__close p {
  font-size: 18px;
}
.sticky__header__close img {
  height: 22px;
}
.sticky__header__links {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
.sticky__header__links a {
  color: #fff;
  font-size: 18px;
  margin: 14px 0;
}
.hamburger {
  height: 14px;
  margin-left: 20px;
  display: none;
}
.header__info__elem h3 {
  display: none;
}
@media only screen and (max-width: 1500px) {
  .header__nav {
    gap: 15px;
  }
  .header__nav img {
    padding-right: 20px;
    height: 30px;
  }
  .header__info__elem p {
    font-size: 14px;
  }
  .header__btn__heart p {
    font-size: 14px;
  }
  .header__info {
    gap: 10px;
  }
  .header__socials .header__social {
    width: 25px;
    height: 25px;
  }
  .header__socials .header__social img {
    height: 12px;
  }
}
@media only screen and (max-width: 1250px) {
  .desktop__padding {
    padding: 0px 60px;
  }
  .header__socials {
    display: none;
  }
}
@media only screen and (max-width: 1010px) {
  .header__btn button {
    width: 90px;
    margin-left: 10px;
  }
  .header__btn__heart p {
    display: none;
  }
  .header__bottom a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 850px) {
  .header__info__elem:nth-child(1) {
    display: none;
  }
  .desktop__padding {
    padding: 0px 20px;
  }
}
@media only screen and (max-width: 680px) {
  .header__bottom {
    display: none;
  }
  .header__nav a:first-child {
    display: block;
    opacity: 1;
  }
  .header__nav a {
    display: none;
  }
  header {
    height: 70px;
  }
  .hamburger {
    display: block;
  }
  .header__info__elem p {
    display: none;
  }
  .header__info__elem h3 {
    display: block;
    font-weight: 300;
  }
  .header__nav img {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .header__info__elem:nth-child(2) img {
    display: none;
  }
  .header__btn button {
    height: 32px;
    font-size: 12px;
    width: 80px;
    margin-left: 10px;
  }
  .hamburger {
    margin-left: 10px;
  }
  .header__info__elem h3 {
    font-size: 14px;
  }
  .header__nav img {
    height: 25px;
  }
  .hamburger {
    height: 12px;
  }
  .desktop__padding {
    padding: 0 12px;
  }
}

.section__header {
  padding-top: 80px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section__header h2 {
  color: #fff;
  font-size: 36px;
  font-family: "Unbounded", cursive;
  font-weight: 400;
}

.section__header h2 span {
  color: #ffb5b6;
}
.section__header svg {
  display: none;
}
@media (max-width: 800px) {
  .section__header h2 {
    font-size: 28px;
    padding-bottom: 15px;
  }
  .section__header {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .section__header h2 {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .section__header {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

.blog__container {
  width: 100%;
}

.blogs {
  width: 100%;
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.blog {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #fff;
  border-radius: 20px;
  padding-bottom: 30px;
}
.blog__image {
  border-radius: 20px;
  height: 340px;
}
.blog__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.blog__stats__text {
  font-size: 16px;
}
.blog a {
  color: #000;
}
.blog__title {
  font-size: 22px;
  padding: 10px 10px 25px 20px;
  font-weight: 500;
}
.blog__desc {
  font-size: 18px;
  padding: 0 20px;
  font-weight: 300;
}
@media (max-width: 1550px) {
  .blog__image {
    height: 300px;
  }
}
@media (max-width: 1350px) {
  .blog__image {
    height: 250px;
  }
  .blog__stats__text {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .blog__image {
    height: 200px;
  }
  .blog__stats__text {
    font-size: 12px;
  }
  .blog__title {
    font-size: 20px;
    padding: 0px 10px 20px 20px;
  }
  .blog__desc {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .blog__stats {
    padding: 7px 12px;
  }
  .blog__image {
    height: 170px;
  }
  .blog__stats__text {
    font-size: 10px;
  }
  .blog__title {
    font-size: 18px;
    padding: 0px 10px 12px 12px;
  }
  .blog__desc {
    font-size: 14px;
    padding: 0 12px;
  }
}
@media (max-width: 900px) {
  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog__image {
    height: 250px;
  }
  .blog__stats__text {
    font-size: 14px;
  }
  .blog__title {
    font-size: 20px;
    padding: 0px 10px 12px 12px;
  }
  .blog__desc {
    font-size: 16px;
  }
}
@media (max-width: 750px) {
  .blog__image {
    height: 200px;
  }
  .blog__stats__text {
    font-size: 12px;
  }
  .blog__title {
    font-size: 16px;
    padding: 0px 10px 12px 12px;
  }
  .blog__desc {
    font-size: 14px;
  }
}
@media (max-width: 630px) {
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog__image {
    height: 350px;
  }
  .blog__stats__text {
    font-size: 16px;
  }
  .blog__title {
    font-size: 22px;
    padding: 0px 10px 12px 12px;
  }
  .blog__desc {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .blog__image {
    width: 100%;
    height: auto;
  }
  .blog__stats__text {
    font-size: 14px;
  }
  .blog__title {
    font-size: 19px;
    padding: 0px 10px 12px 12px;
  }
  .blog__desc {
    font-size: 16px;
  }
}
/* 
**************************************
ZAPYTAJ**************************************
**************************************
*/

.zapytaj {
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.zapytaj__form {
  width: 60%;
  min-height: 600px;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 160px;
}

.zf__title {
  letter-spacing: -2px;
  font-size: 72px;
  color: #000;
  font-family: "Unbounded";
  margin-bottom: 50px;
  font-weight: 400;
}

.zf__form {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.zff__inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.zff__inputs input {
  width: 100%;
  padding: 20px 35px;
  border-radius: 8px;
  font-size: 20px;
  border: none;
  background: #f1f1f1;
}
.zff__inputs input:focus {
  border-color: #3498db;
  box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
  outline: none;
}

.zff__textarea {
  width: 50%;
  padding: 20px 35px;
  border-radius: 8px;
  font-size: 20px;
  background: #f1f1f1;
  border: none;
  min-height: 120px;
  resize: vertical;
}

.zff__textarea:focus {
  border-color: #3498db;
  box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
  outline: none;
}

.zff__submit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.zffs__btn {
  background: #3498db;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.zffs__btn:hover {
  background: #2980b9;
  transform: translateY(-2px);
}

.zffs__privacy {
  display: flex;
  align-items: center;
  gap: 10px;
}

.zffsp__checkbox {
  width: 18px;
  height: 18px;
  accent-color: #3498db;
}

.zffsp__text {
  font-size: 0.9rem;
  color: #000000;
}

.zffsp__text a {
  color: #3498db;
}

.zffsp__text a:hover {
  text-decoration: underline;
}

.zapytaj__image {
  width: 40%;
  min-height: 700px;
  position: relative;
  /* background: linear-gradient(135deg, #3498db 0%, #2c3e50 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.zapytaj__image img {
  max-height: 700px;
}

.whatsapp__ads {
  position: absolute;
  bottom: 50px;
  left: 28%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: rgb(255, 255, 255);
  margin: 0 20px;
  padding: 10px;
  width: 300px;
  border-radius: 50px;
}

.wa__container {
  width: 40px;
  height: 40px;
  background: #edfaef;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wa__container img {
  width: 20px;
  box-shadow: none;
}

.wa__text {
  font-size: 1rem;
  color: #2c3e50;
}

.wa__text span {
  color: #25d366;
  font-weight: 600;
}

@media (max-width: 1400px) {
  .zapytaj__form {
    padding-left: 100px;
  }
  .whatsapp__ads {
    left: 20%;
  }
}
@media (max-width: 1200px) {
  .zapytaj__form {
    padding-left: 60px;
  }
  .zf__form {
    flex-direction: column;
  }
  .zff__inputs {
    width: 100%;
  }
  .zff__textarea {
    width: 100%;
  }
  .zapytaj__image {
    width: 50%;
  }
  .zapytaj__form {
    width: 50%;
    padding: 50px 30px;
  }
  .zff__submit {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .zff__submit .zffs__btn {
    width: 100%;
  }
  .zf__title {
    font-size: 60px;
    margin-bottom: 30px;
  }
}

@media (max-width: 900px) {
  .zapytaj {
    flex-direction: column;
  }
  .zapytaj__image {
    width: 100%;

    min-height: 250px;
  }

  .zapytaj__form {
    width: 100%;
    padding: 50px 30px;
  }
  .zapytaj__image img {
    width: 100%;
    /* min-height: none;
    max-height: none; */
  }
  .whatsapp__ads {
    left: 25%;
  }
  .zf__title {
    font-size: 52px;
    margin-bottom: 30px;
  }
}

@media (max-width: 740px) {
  .whatsapp__ads {
    left: 28%;
    gap: 10px;
    width: 200px;
  }

  .wa__container {
    width: 30px;
    height: 30px;
  }

  .wa__container img {
    width: 14px;
  }

  .wa__text {
    font-size: 12px;
  }

  .wa__text span {
    font-weight: 500;
  }
  .zffs__btn {
    padding: 25px 0;
  }
  .zf__title {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
@media (max-width: 550px) {
  .zff__inputs input {
    font-size: 16px;
    padding: 14px 20px;
  }
  .zff__textarea {
    font-size: 16px;
    padding: 14px 20px;
  }
}
@media (max-width: 480px) {
  .whatsapp__ads {
    left: 20%;
    transform: scale(0.8);
  }
}

/* 
**************************************
ZAPYTAJ**************************************
**************************************
*/

/* 
**************************************
FOOTER**************************************
**************************************
*/

.footer {
  padding-top: 70px;
  padding-bottom: 210px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 150px;
  flex-wrap: wrap;
}
.footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.fl__title {
  color: #fff;
  font-weight: 500;
  font-family: "Unbounded", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}
.fl__link {
  color: #ffffff;
  opacity: 0.7;
  font-weight: 400;
  font-size: 18px;
}

.footer__head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.footer__head .fh__logo {
  margin-bottom: 20px;
}
.fh__info {
  display: flex;
  gap: 10px;
}
.fh__info img {
  height: 24px;
}
.fh__info p {
  color: #fff;
  font-size: 18px;
  width: 250px;
}
.fh__socials {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}
.fhs__container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff1a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all__rights {
  color: #ffffff88;
  font-size: 18px;
}

@media (max-width: 930px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 140px;
    gap: 70px;
  }
  .fl__title {
    font-size: 20px;
  }
  .fl__link {
    font-size: 16px;
  }
  .fh__info p {
    font-size: 16px;
  }
}
/* 
**************************************
FOOTER**************************************
**************************************
*/

.zapytaj__layout {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000be;
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
}
.zl__form {
  position: relative;
  width: 700px;
  padding: 40px 50px;
  border-radius: 30px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.zl__form__active {
  display: flex;
}
.zl__form img {
  position: absolute;
  right: 40px;
  top: 40px;
  height: 16px;
  cursor: pointer;
}
.zl__title {
  font-size: 32px;
  font-family: "Unbounded";
  margin-bottom: 20px;
}
.input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 15px;
  background: #f1f1f1;
  font-size: 16px;
  color: #000;
  border: none;
  border-radius: 10px;
  height: 60px;
}
.zl__form textarea {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border: none;
  background: #f1f1f1;
  padding: 10px 15px;
}
.zl__check {
  display: flex;
  gap: 10px;
  font-size: 14px;
  margin: 10px 0;
}
.zl__form .desc {
  font-size: 12px;
  margin: 10px 0;
}
.zl__form button {
  width: 300px;
  background: #0090ff;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  font-size: 18px;
}
@media (max-width: 740px) {
  .zl__form {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    padding: 20px 25px;
  }

  .zl__form button {
    width: 100%;
  }
  .zl__form .desc {
    font-size: 10px;
  }
}
