.blog__container {
  width: 100%;
}

.blogs {
  width: 100%;
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.blog {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #fff;
  border-radius: 20px;
  padding-bottom: 30px;
  transition: 0.3s ease-in-out;
}
.blog__image {
  border-radius: 20px;
  height: 340px;
  transition: 0.3s ease-in-out;
}
.blog__img {
  overflow: hidden;
  border-radius: 20px;
}
.blog:hover {
  cursor: pointer;
}
.blog:hover .blog__image {
  transform: scale(1.1) rotate(0deg);
}
.blog__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.blog__stats__text {
  font-size: 16px;
}
.blog a {
  color: #000;
}
.blog__title {
  font-size: 22px;
  padding: 10px 10px 25px 20px;
  font-weight: 500;
}
.blog__desc {
  font-size: 18px;
  padding: 0 20px;
  font-weight: 300;
}
@media (max-width: 1550px) {
  .blog__image {
    height: 300px;
  }
}
@media (max-width: 1350px) {
  .blog__image {
    height: 250px;
  }
  .blog__stats__text {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .blog__image {
    height: 200px;
  }
  .blog__stats__text {
    font-size: 12px;
  }
  .blog__title {
    font-size: 20px;
    padding: 0px 10px 20px 20px;
  }
  .blog__desc {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .blog__stats {
    padding: 7px 12px;
  }
  .blog__image {
    height: 170px;
  }
  .blog__stats__text {
    font-size: 10px;
  }
  .blog__title {
    font-size: 18px;
    padding: 0px 10px 12px 12px;
  }
  .blog__desc {
    font-size: 14px;
    padding: 0 12px;
  }
}
@media (max-width: 900px) {
  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog__image {
    height: 250px;
  }
  .blog__stats__text {
    font-size: 14px;
  }
  .blog__title {
    font-size: 20px;
    padding: 0px 10px 12px 12px;
  }
  .blog__desc {
    font-size: 16px;
  }
}
@media (max-width: 750px) {
  .blog__image {
    height: 200px;
  }
  .blog__stats__text {
    font-size: 12px;
  }
  .blog__title {
    font-size: 16px;
    padding: 0px 10px 12px 12px;
  }
  .blog__desc {
    font-size: 14px;
  }
}
@media (max-width: 630px) {
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog__image {
    height: 350px;
  }
  .blog__stats__text {
    font-size: 16px;
  }
  .blog__title {
    font-size: 22px;
    padding: 0px 10px 12px 12px;
  }
  .blog__desc {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .blog__image {
    width: 100%;
    height: auto;
  }
  .blog__stats__text {
    font-size: 14px;
  }
  .blog__title {
    font-size: 19px;
    padding: 0px 10px 12px 12px;
  }
  .blog__desc {
    font-size: 16px;
  }
}
